.breed-select {
    width: 300px;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
    border: 2px solid rgba(0, 123, 255, 0.5);
    /* Blue border with transparency */
    border-radius: 4px;
    padding: 10px;
    background-color: #f8f9fa;
    color: #495057;
    font-size: medium;
}

.loader,
.error,
.cat-info {
    margin-left: 400px;
    margin-top: 20px;
}